

# Ignore some files and folders
/djangohumidity/db.sqlite3
/djangohumidity/migrations
/CACHE
/venv
/my.cnf


# Ignore npm modules
djangohumidity/static/node_modules

# Ignore swap files
*.swp

# Ignore pycache globally
__pycache__
