{% load compress %}
{% load static %}
<!DOCtYPE html>
<html lang="en">
  <head>
      <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
      <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

      <script>
      {% block js %}
      {% endblock %}
      </script>

      {% compress css %}
      <link type="text/x-scss" href="{% static "node_modules/bootstrap/scss/bootstrap.scss" %}" rel="stylesheet">
      <link type="text/x-scss" href="{% static "scss/style.scss" %}" rel="stylesheet">
      {% endcompress %}
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="/"><img src="{% static "logo.svg" %}" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link h3" aria-current="page" href="/all">Overview</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link h3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sensors
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item h4" href="/dataview/1/1">Sensor 1: Temp</a></li>
                <li><a class="dropdown-item h4" href="/dataview/1/2">Sensor 1: Humidity</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item h4" href="/dataview/2/3">Sensor 2: Temp</a></li>
                <li><a class="dropdown-item h4" href="/dataview/2/4">Sensor 2: Humidity</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item h4" href="/dataview/3/5">Sensor 3: Temp</a></li>
                <li><a class="dropdown-item h4" href="/dataview/3/6">Sensor 3: Humidity</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item h4" href="/dataview/4/7">Sensor 4: Temp</a></li>
                <li><a class="dropdown-item h4" href="/dataview/4/8">Sensor 4: Humidity</a></li>
              </ul>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link h3" aria-current="page" href="/accounts/logout">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link h3" aria-current="page" href="/accounts/login">Login</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container main">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Information</h4>
                    Small home automation project by
                    <a href="https://retostauffer.org" target="_blank">Reto</a>
                    for personal use.
                </div>
                <div class="col-sm-6">
                    <h4>Based on<h4>
                    <ul class="list-unstyled fs-6">
                        <li><a href="https://raspberrypi.org" target="_blank">Raspberry</a></li>
                        <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                        <li><a href="https://getbootstrap.com/" target="_blank">Boostrap5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
  </body>
<html>


